{% extends 'base.html.twig' %}

{% block title %}Formulaire{% endblock %}

{% block body %}
    <div class="title text-center mb-3">
        <h2>Formulaire de données</h2>
    </div>
    

    <div class="form">
        {{ form(form) }}
    </div>


{% endblock %}
